.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(59, 144, 28);}
nav li a{color: hotpink}
input{border-radius: 50%;}
body{
    background-color: rgb(157, 194, 191);
    color: rgb(51, 44, 4);

}